<!DOCTYPE html>

<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>CMS</title>
    <!-- JS LINKS -->
    <script type="text/javascript" src="Javascripts/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="Javascripts/angular.js"></script>
    <script type="text/javascript" src="Javascripts/angular-Route.js"></script>
    <script type="text/javascript" src="Javascripts/angular-UiRoute.js"></script>
    <script type="text/javascript" src="AngComponentsJS/app.js"></script>
    <script type="text/javascript" src="AngComponentsJS/controllers.js"></script>
    <script type="text/javascript" src="AngComponentsJS/Services.js"></script>
     <!-- STYLE LINKS -->
    <script src="StyleSheets/bootstrap.min.js"></script>
    <link rel="stylesheet" href="StyleSheets/bootstrap.css">
    <link rel="stylesheet" href="StyleSheets/TapsCSS.css">
</head>
<body ng-controller="tableDataDisplay">


<section class="container"  >
<table class=" table table-striped " >
<thead>
  <tr>
    <th ng-click="sortColumn('name')">Name</th>
    <th ng-click="sortColumn('category')">Category</th>
    <th ng-click="sortColumn('amount')">amount</th>
  </tr>
</thead>
<tbody>
  <!-- <tr ng-repeat="data in dataObj | toArray:false | orderBy : sortColumnName : sortOrder"> -->
  <tr ng-repeat="data in dataObj | orderBy : sortColumnName : sortOrder">
    <td>{{data.name}}</td>
    <td>{{data.category}}</td>
    <td>{{data.amount}}</td>
  </tr>
</tbody>
</table>
</section>




<section class="container">
<table class=" table table-striped "  >
<thead>
  <tr>
     <th>Name</th>
     <th>C1</th>
     <th>C2</th>
     <th>C3</th>
  </tr>
</thead>
<tbody>
  <!-- <tr ng-repeat="data in dataObj | toArray:false | orderBy : sortColumnName : sortOrder"> -->
  <tr ng-repeat="data in dataFormated  ">
    <td>{{data[0] }}</td>
    <td>{{data[2] }}</td>
    <td>{{data[4]}}</td>
    <td>{{data[6]}}</td>
  </tr>
</tbody>
</table>
</section>






</body>

</html>
